{% extends "base.html" %}
{% load staticfiles i18n %}

{% block conteudo %}
<section class="container user user-password-reset-done">
    <div class="row">
        <div class="offset-by-two eight columns">
            <h3>
                {% trans "Recovery" %}
            </h3>
            <p>
                {% trans "We sent an email with instruction to you recover your passaword!" %}
            </p>
            <p>
                {% trans "If you don't receive an email, please verify if you typed it in address you used to sign up, and check your spam folder." %}
            </p>
        </div>
    </div>
</section>
{% endblock %}
