{% extends "base.html" %}
{% load staticfiles i18n %}

{% block conteudo %}
<section class="container user user-password-reset-complete">
    <div class="row div offset-by-two eight columns">
        <h3>{% trans "Password reset complete" %}</h3>

        <p>
            {% trans "Sua senha foi redefinida.<br />Você pode continuar para a página de login agora." %}
        </p>
        <p>
            <a href="{% url 'login' %}" class="button">
                {% trans "Continue" %}
            </a>
        </p>
    </div>
</section>
{% endblock %}
