{% extends "base.html" %}
{% load staticfiles i18n %}

{% block conteudo %}
<section class="container user user-password-reset">
    <div class="row">
        <div class="twelve columns">
            <h3>{% trans "Insert email address to recover your password" %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="offset-by-four four columns">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <input type="submit" value="{% trans 'Recover password' %}">
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}
