{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bibinterativa - {% block tituloPagina %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/padrao.css' %}">
  </head>
  <body>
    <div class="">
			{% block login %}
				<span class='signup'><a href="{% url 'signup' %}" >Cadastrar</a></span>
				<span class='login'><a href="{% url 'login' %}" >Logar</a></span>
			{% endblock %}
      {% block conteudo %}
      {% endblock %}
    </div>
  </body>
</html>
