{% extends "base.html" %}

{% block tituloPagina %} Pesquisa de Livros {% endblock %}

{% block conteudo %}
  <h1>Pesquisa de Livros</h1>

  <div class="">
    <p>Olá {{username}}, favor preencher com os livros que já foram lidos até o momento</p>
    <p>Obs: Caso algum livro não seja encontrado, favor ignorar o mesmo, pois os livros se limitam à sua disponibilidade no banco de dados da biblioteca.</p>
  </div>

  <form class="" action="pesquisa.html" method="post">
    {% csrf_token %}
    {{pesquisa_form.titulo}}
    {{pesquisa_form.pesquisa_id}}
    <input type="submit" name="" value="Buscar">
  </form>

  {% block selecao %}
  {% endblock %}

  {% block recomendacao %}
  {% endblock %}
{% endblock %}
