{% extends "base.html" %}

{% block tituloPagina %} Pesquisa de Livros {% endblock %}

{% block conteudo %}
  <h1>Pesquisa de Livros</h1>

  <div class="">
    <p>Olá, favor preencher com os livros que já foram lidos até o momento</p>
    <p>Obs: Caso algum livro não seja encontrado, favor ignorar o mesmo, pois os livros se limitam à sua disponibilidade no banco de dados da biblioteca.</p>
  </div>

  <form class="" method="post">
    {% csrf_token %}
    {{form.pesquisa_titulo}}
		{{form.pesquisa_id}}

		{% if pesquisa_id %}
			<input type="submit" name="" value="Continuar buscando" formaction="{% url 'livro:pesquisa' %}" >
			Para realizar uma nova pesquisa <a href="{% url 'livro:pesquisa' %}">clique aqui</a>.
		{% else %}
			<input type="submit" name="" value="Buscar" formaction="{% url 'livro:pesquisa' %}">
		{% endif %}

  {% block selecao %}
  {% endblock %}

  {% block recomendacao %}
  {% endblock %}
	</form>
{% endblock %}
