{% extends "base.html" %}

{% block tituloPagina %} Pesquisa de Livros {% endblock %}

{% block conteudo %}
  <h1>Pesquisa de Livros</h1>

  <div class="">
    <p>Olá, favor preencher com os livros que já foram lidos até o momento</p>
    <p>Obs: Caso algum livro não seja encontrado, favor ignorar o mesmo, pois os livros se limitam à sua disponibilidade no banco de dados da biblioteca.</p>
  </div>

  <form class="" action="teste.html" method="post">
    {% csrf_token %}
    {{pesquisa_form.titulo}}
    {{pesquisa_form.pesquisa_id}}
    <input type="submit" name="" value="Buscar">
  </form>

  {% block selecao %}
    <form class="" action="teste.html" method="post">
      {% csrf_token %}

      <p>Resultados:</p>

      {% for livro in livros_recuperados %}
        <input type="checkbox" id="{{livro.id}}" name="opcao[]" value="{{livro.id}}" {% if livro.checked %} checked="checked" {% endif %}>
        <label for="{{livro.id}}">[{{livro.id}}] {{livro.titulo}}</label>
        <br>
      {% endfor %}

      <input type="submit" name="" value="Selecionar">
    </form>
  {% endblock %}

  {% block recomendacao %}
  {% endblock %}
{% endblock %}
